.container{
    background-color: red;
    width: 500px;
    position: relative;

    .drag-handle{
        position: absolute;
        height: 16px;
        bottom: -8px;
        width: 100%;
        cursor: row-resize;
    }
}